<div class="<%= locals[:projectTile_size] %>">
  <a href="<%= locals[:projectTile_link] %>" class="projectTile">
    <div class="projectTile">
      <div class="projectTile__line"></div>
      <div class="projectTile__title"><%= locals[:projectTile_title] %></div>
      <div class="projectTile__subtitle"><%= locals[:projectTile_type] %></div>
      <div class="projectTile__image">
        <img src="<%= locals[:projectTile_image] %>" />
      </div>
    </div>
  </a>
</div>
