---
title: Beau Lidden • Product Design
---

<div class="wrapper splash">
  <div class="container">
    <div classr="row">
      <div class="col-12">
        <h2 class="homepage">Beau Lidden</h1>
        <h1 class="homepage">Product Design.</h1>
        <h3>Hi, I'm a product designer based in NSW, Australia. I love helping teams curate beautiful digital experiences that help people get their job done. Below is a small sample of my work.</h3>
      </div>
    </div>
  </div>
</div>

<div class="wrapper offWhite">
  <div class="container" id="portfolio">
    <div class="row">
      <div class="col-12">
        <h2 class="feature">Portfolio</h2>
      </div>
      <div class="row">
        <%= partial(:"partials/portfolioTile", :locals =>
          {
            :projectTile_size => 'col-6',
            :projectTile_link => 'portfolio/accelo-nav/',
            :projectTile_title => 'Accelo Nav',
            :projectTile_type => 'Product design',
            :projectTile_image => 'images/accelo_nav.png',
          })
        %>
        <%= partial(:"partials/portfolioTile", :locals =>
          {
            :projectTile_size => 'col-6',
            :projectTile_link => 'portfolio/accelo-scheduling',
            :projectTile_title => 'Accelo Scheduling',
            :projectTile_type => 'Product design',
            :projectTile_image => 'images/accelo_scheduling.png',
          })
        %>
        <%= partial(:"partials/portfolioTile", :locals =>
          {
            :projectTile_size => 'col-12',
            :projectTile_link => 'portfolio/goodreads',
            :projectTile_title => 'Goodreads',
            :projectTile_type => 'Concept design',
            :projectTile_image => 'images/goodreads.png',
          })
        %>
        <%= partial(:"partials/portfolioTile", :locals =>
          {
            :projectTile_size => 'col-6',
            :projectTile_link => 'portfolio/racq',
            :projectTile_title => 'RACQ',
            :projectTile_type => 'Website design',
            :projectTile_image => 'images/racq.jpeg',
          })
        %>
        <%= partial(:"partials/portfolioTile", :locals =>
          {
            :projectTile_size => 'col-6',
            :projectTile_link => 'portfolio/telstra-belong',
            :projectTile_title => 'Telstra Belong',
            :projectTile_type => 'Website design',
            :projectTile_image => 'images/belong.jpeg',
          })
        %>
      </div>
    </div>
  </div>
</div>